@use "variables";


.button {
    padding: 1rem 2rem;
    max-width: 100%;
    background-color: variables.$button-color;
    color: white;
    white-space: nowrap;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: lighten(variables.$button-color, 10%);
    }
  }

  /* Media queries*/
/* Skärmar mindre än eller lika med 1024px */

@media (max-width: 1024px) {


    .button {
        font-size: 1rem;
        

    }

}